nav {
  font-family: "Cinzel Decorative", cursive;
  color: rgb(186, 173, 199);
}

#navbar {
  min-width: 420px;
  background-image: linear-gradient(
    to bottom,
    rgba(81, 23, 104),
    rgba(40, 51, 74)
  );
}
